<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript">
angular.module("testModule",[])
.controller("testController",function($http,$scope){
			$scope.dataAvailable=false;
			$scope.sendRequest=function()
			{
				var promise=$http.get("http://localhost:8100/JsonPServerPrj/testjson.jsp");
				promise.then(function(response){
					$scope.employee=response.data;
					$scope.dataAvailable=true;
				},function(error){
					alert("error "+error.statusText);
				});
			}
});
</script>
</head>
<body ng-app="testModule" ng-controller="testController">
<button ng-click="sendRequest()">Send Request</button>
<br>
<div ng-if="dataAvailable">
Id {{employee.id}}
<br>
Name {{employee.name}}
</div>
</body>
</html>