<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="js/angular.js"></script>
<script type="text/javascript">
var firstModule=angular.module("FirstModule", []);
firstModule.controller("firstController", function($scope) {
	$scope.go=function()
	{
		$scope.$broadcast("supply","fruits");
	}
});
firstModule.controller("secondController", function($scope) {
	$scope.dataAvailable=false;
	$scope.$on("supply",function(e,data){
		$scope.data=data;
		$scope.dataAvailable=true;
	});
});
firstModule.controller("thirdController", function($scope) {
	$scope.dataAvailable=false;
	$scope.$on("supply",function(e,data){
		$scope.data=data;
		$scope.dataAvailable=true;
	});
});

</script>
</head>
<body>
<div ng-app="FirstModule">
<div ng-controller="firstController" style="width: 300px;height: 400px;border: 1px solid red;">
<button ng-click="go()">Broad Cast</button>
<div ng-controller="secondController" style="width: 200px;height: 100px;border: 1px solid blue;">
<label ng-if="dataAvailable">{{data}}</label>
</div>
<div ng-controller="thirdController" style="width: 200px;height: 100px;border: 1px solid green;">
<label ng-if="dataAvailable">{{data}}</label>
</div>
</div>
</div>

</body>
</html>