<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="js/directives/firstDirectiveModule.js"></script>
<script type="text/javascript">
angular.module("testModule", ["firstDirectiveModule"])
.controller("testController",function($scope){
	//$scope.name1="Rajesh";
	
});
</script>
</head>
<body ng-app="testModule" ng-controller="testController">
Name1 <input type="text" ng-model="name1">
<br>
Name2 <input type="text" ng-model="name2">
<br>
<div test-directive name="name1"></div>
<test-directive name="name1"></test-directive>
</body>
</html>