<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="js/filters/filterModule.js"></script>
<script type="text/javascript">
angular.module("testModule", ["filterModule"])
.controller("testController",function($scope){
	$scope.name="Arjun";
	$scope.balance=4500;
});
</script>
</head>
<body ng-app="testModule" ng-controller="testController">
Name <input type="text" ng-model="name">
<br>
Balance <input type="number" ng-model="balance">
<br>
Name in reversed upper case format {{name|reverse:"!"}}
<br>
Balance in currency format {{balance|currency:"Rs"}}
</body>
</html>