<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<script src="js/angular.js"></script>
<script src="js/angular-resource.js"></script>
<script src="js/services/restClientModule.js"></script>
<script type="text/javascript">
angular.module("testModule", ["restClientModule"])
.controller("testController",function($scope,firstRestService){
	$scope.dataAvailable=false;
	$scope.getEmployeeDetail=function()
	{
		var promise=firstRestService.getEmployeeData($scope.empId);
		console.log(promise);
		promise.then(function(response){
			console.log(response);
		$scope.emp=response;
		$scope.dataAvailable=true;
		},function(error){
			console.log(error);
		});
	}
});
</script>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body ng-app="testModule" ng-controller="testController">
Employee Id <input type="text" ng-model="empId">
<br>
<button ng-click="getEmployeeDetail()">Get Employee Details</button>
<div ng-if="dataAvailable">
Name: {{emp.empName}}
<br>
Designation: {{emp.designation}}
</div>
</body>
</html>